openapi: 3.0.0
info:
  version: 1.2.0
  title: Route Mobile API Documentation - Rich Communication Services (RCS)
  description: >-
    Welcome to the Route Mobile developer hub. You'll find comprehensive guides
    and documentation to help you start working with Route Mobile as quickly as
    possible, as well as support if you get stuck. Let's jump right in!
  contact:
    url: https://developers.routemobile.com/
    name: 'Route Mobile Development '
servers:
  - url: https://apis.rmlconnect.net
  - url: '{client callback}'
paths:
  /auth/v1/login/:
    post:
      tags:
        - Login
      summary: Login API
      description: >-
        Login APIs provide a secure and standardized way for end users to add
        user authentication to their applications. Only authorized users can
        access sensitive resources or perform specific actions within the
        application after entering the user authentication details.


        **By default, the JSON Web Token (JWT) validity periods are set to one
        hour.**
      operationId: loginApi2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_login_body'
            examples:
              Example 1:
                value:
                  password: password
                  username: username
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_2'
              examples:
                Authentication successful:
                  value:
                    JWTAUTH: >-
                      eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiZGVtbyIsInVzZXJuYW1lIjoiZGVtbyIsImV4cCI6MTY4Mzg4OTI0MSwiZW1haWwiOiJwcm9kdWN0LWRlc2tAcm91dGVtb2JpbGUuY29tIiwib3JpZ19pYXQiOjE2ODM4ODU2NDEsImN1c3RvbWVyX2lkIjoiOWlyNURnN2J2c0NBIn0.gu2LO-bDVPqa35v_MnyO1KKeZzhDHHWLta5Gp1hVuTE
                    user_data:
                      username: demo
                      first_name: RML
                      last_name: Product
                      email: product-desk@routemobile.com
                      phone_number: '+919898765677'
                      password_reset: false
                      is_active: true
                      is_staff: false
                      ip: 1stepauth
                      child_user: false
                      parent_username: ''
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The user login status.
              examples:
                User is set inactive:
                  value:
                    status: invalid credentials or the account has been deactivated
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The user login status.
              examples:
                Unhandled Exception:
                  value:
                    status: <exception>
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /rcs/v1/message:
    post:
      tags:
        - RCS Messages API
      summary: RCS Messages API
      description: >-
        The Rich Communication Services (RCS) Business Messaging API is a
        communication protocol that allows businesses to send different types of
        messages beyond traditional text messages. 


        The RCS Business Messaging API allows businesses to send different types
        of messages that include:


        - **Notification API:** Standard text messages that send plain text
        content. 

        - **Session API:** Standard text messages that send plain text content
        as part of a campaign. 

        - **India Template API:** Create interactive and visually rich content
        to engage customers.
      operationId: textTemplate
      requestBody:
        description: |2-

           
           
        content:
          application/json:
            schema:
              oneOf:
                - title: Notification Message APIs
                  oneOf:
                    - $ref: '#/components/schemas/rcs_notification_text_msg'
                    - $ref: '#/components/schemas/rcs_notification_media_imagemp4_msg'
                    - $ref: >-
                        #/components/schemas/rcs_notification_richcrdstdalone_msg
                    - $ref: >-
                        #/components/schemas/rcs_notification_richcrdcarousel_msg
                    - $ref: '#/components/schemas/rcs_notification_urlsugg_msg'
                    - $ref: '#/components/schemas/rcs_notification_textsugg_msg'
                    - $ref: '#/components/schemas/rcs_notification_dialsugg_msg'
                    - $ref: '#/components/schemas/rcs_notification_locationsugg_msg'
                - title: Session Message APIs
                  oneOf:
                    - $ref: '#/components/schemas/rcs_session_text_msg'
                    - $ref: '#/components/schemas/rcs_session_mediaimagemp4_msg'
                    - $ref: '#/components/schemas/rcs_session_richcrdstdalone_msg'
                    - $ref: '#/components/schemas/rcs_session_richcrdcarousel_msg'
                    - $ref: '#/components/schemas/rcs_session_urlsugg_msg'
                    - $ref: '#/components/schemas/rcs_session_textsugg_msg'
                    - $ref: '#/components/schemas/rcs_session_dialsugg_msg'
                    - $ref: '#/components/schemas/rcs_session_locationsugg_msg'
                - $ref: '#/components/schemas/rcs_template_text_msg'
            examples:
              Notification - Text:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Notification - Media:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Notification - Rich Card Standalone:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  card:
                    title: '{label}'
                    description: '{plain text}'
                    url: '{sample (image/video mp4) url starting with https://}'
                    suggestions:
                      - type: '{label name}'
                        text: '{plain text}'
                        latitude: '{latitude value}'
                        longitude: '{longitude value}'
                        postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Notification - Rich Card Carousel:
                value:
                  type: multiple_cards
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  extra: '{extra value}'
                  cards:
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: message
                            text: '{text}'
                            postback: '{postback text}'
                          - type: message
                            text: '{text}'
                            postback: '{postback text}'
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: dial
                            text: '{label}'
                            call_to: '{your number}'
                            postback: '{postback label}'
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: url
                            text: '{label}'
                            url: '{url with http://}'
                            postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Notification - URL Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  suggestions:
                    - type: url
                      text: '{label}'
                      url: '{url with http://}'
                      postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Notification - Text Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  suggestions:
                    - type: message
                      text: '{text}'
                      postback: '{postback text}'
                    - type: message
                      text: '{text}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Notification - Dial Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                    - type: dial
                      text: '{label}'
                      call_to: '{your number}'
                      postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Notification - Location Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Template - Text:
                value:
                  type: template
                  phone_no: '{mobile number}'
                  bot_name: '{RML agent name}'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                    variables:
                      '{var1}': '{value}'
                      '{var2}': '{value}'
                  fallback_text: '{value {#var#} value}'
              Template - Rich Card Standalone:
                value:
                  type: template
                  phone_no: '{mobile number}'
                  bot_name: '{RML agent name}'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                    variables:
                      '{var1}': '{value}'
                      '{var2}': '{value}'
                  fallback_text: '{value {#var#} value}'
              Template - Rich Card Carousel:
                value:
                  type: template
                  phone_no: '{mobile number}'
                  bot_name: '{RML agent name}'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                    variables:
                      '{var1}': '{value}'
                      '{var2}': '{value}'
                  fallback_text: '{value {#var#} value}'
              Template - Fallback API:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: Routemobile
                  text: Hi
                  fallback_text: Your test OTP is {#var#}- 29 Three
              Session - Text:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Session - Media:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Session - Rich Card Standalone:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  card:
                    title: '{label}'
                    description: '{plain text}'
                    url: '{sample (image/video mp4) url starting with https://}'
                    suggestions:
                      - type: '{label name}'
                        text: '{plain text}'
                        latitude: '{latitude value}'
                        longitude: '{longitude value}'
                        postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Session - Rich Card Carousel:
                value:
                  type: multiple_cards
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  extra: '{extra value}'
                  cards:
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: message
                            text: '{text}'
                            postback: '{postback text}'
                          - type: message
                            text: '{text}'
                            postback: '{postback text}'
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: dial
                            text: '{label}'
                            call_to: '{your number}'
                            postback: '{postback label}'
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: url
                            text: '{label}'
                            url: '{url with http://}'
                            postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Session - URL Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                    - type: url
                      text: '{label}'
                      url: '{url with http://}'
                      postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Session - Text Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                    - type: message
                      text: '{text}'
                      postback: '{postback text}'
                    - type: message
                      text: '{text}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Session - Location Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Session - Dial Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                    - type: dial
                      text: '{label}'
                      call_to: '{your number}'
                      postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  id:
                    type: string
                    description: The request id of the message.
              examples:
                Example 1:
                  value:
                    message: Message request has been created
                    id: 167de12a-fe0e-11ed-a253-0a58a9fxxxxx
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: "The status of the message delivery.\r\n\r\n"
                  errors:
                    type: object
                    description: "The error for not processing the request.\r\n\r\n"
                    properties:
                      text:
                        type: array
                        description: Error message description.
                        items:
                          type: string
              examples:
                Example 1:
                  value:
                    status: failed
                    errors:
                      text:
                        - Unknown field.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: Unauthorized
            application/xml:
              schema:
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: Please input a valid/authorized bot name
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The message response.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  errors:
                    type: string
                    description: "The error for not processing the request.\r\n\r\n"
              examples:
                Example 1:
                  value:
                    status: failed
                    errors: Contact administration for more info
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /rcs/v1/bulk_message:
    post:
      tags:
        - Bulk Upload Campaign API
      summary: Bulk Upload Campaign
      description: >-
        Bulk Upload Campaign APIs send messages to many recipients
        simultaneously using a batch upload process. It allows businesses to
        efficiently send personalized and interactive messages to their
        customers at scale. 
      operationId: bulkCampaignUploadRCS
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/rcs_bulkcamp_text_msg'
                - $ref: '#/components/schemas/rcs_bulkcamp_media_msg'
                - $ref: '#/components/schemas/rcs_bulkcamp_richcrdstd_msg'
                - $ref: '#/components/schemas/rcs_bulkcamp_richcardcarsl_msg'
                - $ref: '#/components/schemas/rcs_bulkcamp_urlsugg_msg'
                - $ref: '#/components/schemas/rcs_bulkcamp_textsugg_msg'
                - $ref: '#/components/schemas/rcs_bulkcamp_dialsugg_msg'
                - $ref: '#/components/schemas/rcs_bulkcamp_locsugg_msg'
            examples:
              Text:
                value:
                  type: text
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Media:
                value:
                  type: media
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Rich Card Standalone:
                value:
                  type: card
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  card:
                    title: '{label}'
                    description: '{plain text}'
                    url: '{sample (image/video mp4) url starting with https://}'
                    suggestions:
                      - type: '{label name}'
                        text: '{plain text}'
                        latitude: '{latitude value}'
                        longitude: '{longitude value}'
                        postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Rich Card Carousel:
                value:
                  type: multiple_cards
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  cards:
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: message
                            text: '{text}'
                            postback: '{postback text}'
                          - type: message
                            text: '{text}'
                            postback: '{postback text}'
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: dial
                            text: '{label}'
                            call_to: '{your number}'
                            postback: '{postback label}'
                    - card:
                        title: '{label}'
                        description: '{plain text}'
                        url: '{sample (image/video mp4) url starting with https://}'
                        suggestions:
                          - type: url
                            text: '{label}'
                            url: '{url with http://}'
                            postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              URL Suggestion:
                value:
                  type: media
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  suggestions:
                    - type: url
                      text: '{label}'
                      url: '{url with http://}'
                      postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Text Suggestion:
                value:
                  type: text
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  suggestions:
                    - type: message
                      text: '{text}'
                      postback: '{postback text}'
                    - type: message
                      text: '{text}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Dial Suggestion:
                value:
                  type: media
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/video mp4) url starting with https://}'
                  suggestions:
                    - type: dial
                      text: '{label}'
                      call_to: '{your number}'
                      postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Location Suggestion:
                value:
                  type: text
                  country_code: '+91'
                  file_url: >-
                    http://<Domain
                    Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  campaign_id:
                    type: string
                    description: The unique ID of the campaign.
              examples:
                Example 1:
                  value:
                    message: Message request has been created
                    campaign_id: 1xx
            application/xml:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  errors:
                    type: object
                    description: "The error for not processing the request.\r\n\r\n"
                    properties:
                      text:
                        type: array
                        description: The error description.
                        items:
                          type: string
              examples:
                Example 1:
                  value:
                    status: string
                    errors:
                      text:
                        - string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
              examples:
                Example 1:
                  value:
                    status: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
              examples:
                Example 1:
                  value:
                    status: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The message response.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  errors:
                    type: string
                    description: "The error for not processing the request.\r\n\r\n"
              examples:
                Example 1:
                  value:
                    status: string
                    errors: string
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /payments/v1/send_bill:
    post:
      tags:
        - Payment API
      summary: Payment API
      description: >-
        The Payment Template API allows businesses to integrate payment
        functionality into their RCS messages. With this API, businesses can
        create payment templates that enable users to make secure payments
        directly within the RCS messaging experience.


        The API will use the provided phone number to send the payment template
        message to the recipient via RCS. The template will include the
        specified variables and their corresponding values, allowing you to
        customize the payment details for each recipient.
      operationId: sendBillToUserRcs
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/rcs_payments_india_template'
                - $ref: '#/components/schemas/rcs_payments_text_template'
                - $ref: '#/components/schemas/rcs_payments_media_template'
                - $ref: '#/components/schemas/rcs_payments_richcrdstdle_template'
                - $ref: '#/components/schemas/rcs_payments_richcrdcarousel_template'
                - $ref: '#/components/schemas/rcs_payments_urlsugg_template'
            examples:
              India Template:
                value:
                  payment:
                    amount:
                      value: '{Amount in paise}'
                      currency: INR
                    mode: ALL
                    region: INDIA
                    merchant_name: Routemobile
                    extra:
                      some: key
                  channels:
                    - rcs
                  rcs:
                    type: template
                    phone_no: '{Phone number with county code}'
                    bot_name: Routemobile
                    template:
                      name: '{Template name}'
                      variables:
                        '{var1}': '{Name}'
                        '{var2}': <PAYMENT_URL>
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: "The unique identifier for the original request or message.\r\n"
                  status:
                    type: string
                    description: The status of the message delivery.
                  timestamp:
                    type: string
                    description: "The timestamp of when the message was received or sent.\r\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  errors:
                    type: object
                    description: The error message.
                    properties:
                      payment:
                        type: object
                        description: The payment amount.
                        properties:
                          region:
                            type: array
                            description: 'The region for the payment. '
                            items:
                              type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: The page not found message.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  errors:
                    type: string
                    description: The error message.
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /rcs/v1/typing_event:
    post:
      tags:
        - RCS Messages Request API
      summary: Typing Indicator
      description: >-
        The Typing Indicator API indicates to the recipient that the bot or
        sender is typing a response. 
      operationId: typingIndicator
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
                  description: The ID of the request, which can be generated by the client.
                phone_no:
                  type: string
                  description: >-
                    The phone number of the recipient, including the country
                    code.
                bot_name:
                  type: string
                  description: The name of the bot associated with the message request.
              required:
                - request_id
                - phone_no
                - bot_name
            examples:
              Example 1:
                value:
                  request_id: MxZBgOG-VMSraf8Py-C0xxxx
                  phone_no: Number with country code
                  bot_name: Routemobile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: success
                    message: Is Typing request sent successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: >-
                      Is Typing request could not be sent , please contact
                      administration
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Unauthorised
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the response message.
                  errors:
                    type: string
                    description: "The error for not processing the request.\r\n\r\n"
              examples:
                Example 1:
                  value:
                    status: failed
                    errors: Contact administration for more info
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /rcs/v1/mark_read:
    post:
      tags:
        - RCS Messages Request API
      summary: Marking messages as Read
      description: >-
        The API will mark the messages as read for the recipient, indicating
        they have been viewed or acknowledged. This API is useful for tracking
        the delivery and engagement of messages sent through RCS business
        messaging.
      operationId: markingMessagesAsRead
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
                  description: The ID of the request, which can be generated by the client.
                phone_no:
                  type: string
                  description: >-
                    The phone number of the recipient, including the country
                    code.
                bot_name:
                  type: string
                  description: The name of the bot associated with the message request.
              required:
                - request_id
                - phone_no
                - bot_name
            examples:
              Example 1:
                value:
                  request_id: MxZBgOG-VMSraf8Py-C09xxxx
                  phone_no: Number with country code
                  bot_name: Routemobile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: success
                    message: Read request sent successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: >-
                      Read request could not be sent , please contact
                      administration
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Unauthorised
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: >-
                      Read request could not be sent , please contact
                      administration
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /rcs/v2/revoke_message:
    delete:
      tags:
        - RCS Messages Request API
      summary: Revoke with SMS fallback
      description: >-
        The API will handle the revocation of the specified message for the
        recipient. 
      operationId: revokeWithSmsFallback
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: success
                    message: Message Revoke request sent successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: >-
                      Revoke request could not be sent , please contact
                      administration
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Unauthorised
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: >-
                      Revoke request could not be sent , please contact
                      administration
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /rcs/bot/v1/contactCapabilities:
    get:
      tags:
        - RCS Capability Checks API
      summary: Capability checking API
      description: >-
        The Capability Checks API is used to retrieve the capabilities of a
        contact in relation to RCS messaging.


        By sending this GET request to the specified URL with the appropriate
        parameters, you will receive a response containing information about the
        capabilities supported by the specified contact. 
      operationId: capabilityCheckingApi
      parameters:
        - name: userContact
          in: query
          description: 'The contact for whom you want to check the capabilities. '
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '%2B918928894215'
        - name: botName
          in: query
          description: The name of the bot.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Routemobile
      responses:
        '400':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  botName:
                    type: string
                    description: The name of the boat, which cannot be blank.
                  userContact:
                    type: string
                    description: The name of contact person, which cannot be blank.
        '404':
          description: Not Found
          content:
            application/xml:
              schema:
                type: object
              examples:
                Example 1:
                  value: >-
                    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
                    <title>404 Not Found</title> <h1>Not Found</h1> <p>The
                    requested URL was not found on the server. If you entered
                    the URL manually please check your spelling and try
                    again.</p>
      deprecated: true
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /rcs/bot/v1/bulkContactCapabilities:
    get:
      tags:
        - RCS Capability Checks API
      summary: Bulk Capability Check API
      description: >
        The Bulk Capability Checks API allows you to retrieve the capabilities
        of multiple contacts in a single request. This API is useful when you
        want to check the capabilities of a group of contacts instead of making
        individual requests for each contact.


        By sending this GET request to the specified URL with the JSON payload,
        you will receive a response containing information about the
        capabilities of the specified contacts. 
      operationId: bulkCapabilityCheckApi
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: string
                  status:
                    type: string
              examples:
                Example 1:
                  value:
                    result:
                      - '+917045345285'
                    status: success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      bot_nam:
                        type: array
                        items:
                          type: string
                      bot_name:
                        type: array
                        items:
                          type: string
                  status:
                    type: string
              examples:
                Example 1:
                  value:
                    errors:
                      bot_nam:
                        - Unknown field.
                      bot_name:
                        - Missing data for required field.
                    status: failed
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  errors:
                    type: string
              examples:
                Example 1:
                  value:
                    errors: Access denied to Routemobil
                    status: failed
        '404':
          description: Page Not Found
          content:
            application/xml:
              schema:
                type: object
              examples:
                Example 1:
                  value: >-
                    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
                    <title>404 Not Found</title> <h1>Not Found</h1> <p>The
                    requested URL was not found on the server. If you entered
                    the URL manually please check your spelling and try
                    again.</p>
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  errors:
                    type: string
              examples:
                Example 1:
                  value:
                    status: failed
                    errors: Contact administration for more info
      deprecated: true
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /payments/v1/create_bill:
    post:
      tags:
        - OmniCent - Payment as a Service
      summary: Create payment link
      description: 'Create the payment link. '
      operationId: createPaymentLink
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment:
                  type: object
                  description: The object contains the payment details.
                  properties:
                    amount:
                      type: object
                      description: The payment amount.
                      properties:
                        value:
                          type: string
                          description: The amount in paise (1 INR = 100 paise).
                        currency:
                          type: string
                          description: The currency of the payment amount.
                    mode:
                      type: string
                      description: The payment mode or method.
                    merchant_name:
                      type: string
                      description: >-
                        The name of the merchant or business receiving the
                        payment.
                    expiry_date:
                      type: string
                      description: The expiry date and time for the payment link.
                    amount_exactness:
                      type: string
                      description: The exactness of the payment amount.
                    extra:
                      type: object
                      description: 'The object to provide additional payment information. '
                      properties:
                        extra:
                          type: string
                          description: The additional information.
            examples:
              default:
                value:
                  payment:
                    amount:
                      value: amount in paise
                      currency: INR
                    mode: paymentmode
                    merchant_name: marchantname
                    expiry_date: '2022-01-15 10:00:00'
                    amount_exactness: EXACT
                    extra:
                      extra: indentifier
      responses:
        '200':
          description: ''
      security:
        - jwt: []
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
  /callback:
    post:
      tags:
        - Callback API
      summary: Callback
      description: >-
        Use the Callback API to receive real-time RCS notifications of incoming
        messages and other events. 
      operationId: post-callback
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/rcs_callback_incoming_text'
                - $ref: '#/components/schemas/rcs_callback_incoming_image'
                - $ref: '#/components/schemas/rcs_callback_incoming_location'
                - $ref: '#/components/schemas/rcs_callback_incoming_suggaction'
                - $ref: '#/components/schemas/rcs_callback_incoming_suggestion_reply'
                - $ref: '#/components/schemas/rcs_callback_incoming_video'
                - $ref: '#/components/schemas/rcs_callback_incoming_document'
                - $ref: '#/components/schemas/rcs_callback_status_read_delivered'
                - $ref: '#/components/schemas/rcs_callback_status_failed'
            examples:
              Incoming Text:
                value:
                  bot_name: Routemobile
                  event_type: text_message
                  request_id: Mx068dFMQbSWm7zPxvVFIxxxx
                  session_id: 1d80575f-fe51-4ea9-b1b4-883ded8fxxxx
                  text_message: Hi
                  timestamp: 2023-05-23T09:14:36.2599xxx
                  user_contact: +91903695xxxx
                  username: demo
              Incoming Image:
                value:
                  bot_name: Routemobile
                  event_type: media_message
                  media_name: 16656.jpg
                  media_size: '193386'
                  media_type: image
                  media_uri: >-
                    https://rcs-user-content-ap.storage.googleapis.com/806e8c3c-fe0a-4d16-bfbf-b5251e2f50e0/a502a4e475d7f700cead51b416a1040ed53f2c607a6d87790561d5xxxxxx
                  request_id: MxE3=LDqIZRqKVzsjLPIxxxx
                  session_id: b19d033c-a159-4565-8d3d-8d527abaxxxx
                  timestamp: 2023-04-02T10:49:30.9598xxxx
                  user_contact: +91704534xxxx
                  username: demo
              Incoming Location:
                value:
                  request_id: 01bc1fcd-6ceb-473d-bd17-b0979ea2xxxx
                  user_contact: +91704534xxxx
                  timestamp: 2021-02-06T03:50:00.432xxxx
                  bot_name: VMart
                  username: vmartretail
                  session_id: 72cfbb87-f7bf-4e02-bd40-322e4e35xxxxx
                  event_type: location
                  latitude: 19.1453xxx
                  longitude: 72.8236xxx
              Incoming Suggestion Action (URL/Dial):
                value:
                  bot_name: Routemobile
                  event_type: response
                  request_id: MxoUu=Ito5SfCX-SVJ0jmxxxx
                  response_postback: url
                  response_text: Tap me
                  session_id: b19d033c-a159-4565-8d3d-8d527abaxxxx
                  suggestion_type: action
                  timestamp: 2023-04-02T12:02:33.594xxxx
                  user_contact: +9170453xxxxx
                  username: demo
              Incoming Suggestion Reply:
                value:
                  bot_name: Routemobile
                  event_type: response
                  request_id: Mxtq0v4sL6T1Oa2WpBXxxxxx
                  response_postback: test
                  response_text: Nice
                  session_id: b19d033c-a159-4565-8d3d-8d527abaxxxx
                  suggestion_type: reply
                  timestamp: 2023-04-02T12:03:03.315xxxx
                  user_contact: +9170453xxxxx
                  username: demo
              Incoming Video:
                value:
                  bot_name: Routemobile
                  event_type: media_message
                  media_name: 15584.mp4
                  media_size: '8372956'
                  media_type: video
                  media_uri: >-
                    https://rcs-user-content-ap.storage.googleapis.com/ab43fe59-d75e-473a-9327-a4cab1c70a31/8ffc96b86dd5a47a1b3e0c5baf68b952998e561e681cf92f6539xxxxxxx
                  request_id: Mx1DOwT7ZHRN-8Gzu2PFxxxxx
                  session_id: b19d033c-a159-4565-8d3d-8d527abxxxxx
                  timestamp: 2023-04-02T10:50:45.8520xxx
                  user_contact: +91704534xxxx
                  username: demo
              Incoming Document:
                value:
                  bot_name: Routemobile
                  event_type: media_message
                  media_name: Ticket.pdf
                  media_size: '160827'
                  media_type: application
                  media_uri: >-
                    https://rcs-user-content-ap.storage.googleapis.com/7bbb0640-ab70-45f8-9151-6912468c4cf7/9108880408b94cf4a9dfb48002ac580ed868962d757321463a2b8dxxxxx
                  request_id: Mxi3EWJ6TvQkeJZ4MZbPxxxx2
                  session_id: b19d033c-a159-4565-8d3d-8d527abxxxxx1
                  timestamp: 2023-04-02T10:51:33.554xxxxx
                  user_contact: +9170453xxxx5
                  username: demo
              Status (Read/Delivered):
                value:
                  bot_name: Routemobile
                  event_type: status
                  message_id: 66b3ef00-d14e-11ed-a253-0a58a9xxxxx
                  message_status: READ/DELIVERED
                  timestamp: 2023-04-02T12:03:43.655xxxxxx
                  user_contact: +917045xxxxxx
                  extra: extra
                  username: demo
              Status Failed:
                value:
                  bot_name: Routemobile
                  event_type: status
                  message_id: 66b3ef00-d14e-11ed-a253-0a58a9fxxxxx
                  message_status: FAILED
                  failure_reason: >-
                    The supplied file URL
                    https://storage.googleapis.com/kitchen-sink-xxxxx-images/xxxxt.jpg
                    is invalid Code: INVALID_ARGUMENT
                  timestamp: 2023-04-02T12:03:43.6557xxxx
                  user_contact: +9170453xxxxx
                  extra: extra
                  username: demo
      responses:
        '200':
          description: OK
      servers:
        - url: https://apis.rmlconnect.net
        - url: '{client callback}'
tags:
  - name: Login
  - name: RCS Messages API
  - name: Bulk Upload Campaign API
  - name: Payment API
  - name: RCS Messages Request API
  - name: RCS Capability Checks API
  - name: OmniCent - Payment as a Service
  - name: Callback API
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    v1_login_body:
      type: object
      properties:
        password:
          type: string
          description: >-
            The secret code that users provide to the application during the
            login process.
          example: password
        username:
          type: string
          description: >-
            Unique identifier that users provide to the application during the
            login process. Usernames can be any string of characters.
          example: username
      required:
        - password
        - username
    inline_response_201_2:
      type: object
      properties:
        JWTAUTH:
          type: string
          description: JSON Web Token Authentication
        user_data:
          $ref: '#/components/schemas/inline_response_201_2_user_data'
    inline_response_201_2_user_data:
      type: object
      properties:
        username:
          type: string
          description: The name of the user.
        first_name:
          type: string
          description: The first name of the user.
        last_name:
          type: string
          description: The last name of the user.
        email:
          type: string
          description: The email address of the user.
        phone_number:
          type: string
          description: The user phone number in international format.
        password_reset:
          type: boolean
          description: Indicates whether the password reset.
        is_active:
          type: boolean
          description: Checks if the user is active.
        is_staff:
          type: boolean
          description: Checks if the user is a staff.
        ip:
          type: string
          description: The IP address of the user.
        child_user:
          type: boolean
          description: Indicates if user is a child.
        parent_username:
          type: string
          description: The user of child's parent.
    rcs_notification_text_msg:
      type: object
      title: Notification - Text
      description: Standard text messages that send plain text content.
      properties:
        type:
          type: string
          description: The type of message to be sent. It can be "text".
        phone_no:
          type: string
          description: The recipient's phone number, including the country code.
        bot_name:
          type: string
          description: The name of the bot sending the message.
        text:
          type: string
          description: >-
            The plain text content of the message. This field is required for
            "text" type messages.
        extra:
          type: string
          description: 'An extra value that can be included in the message. '
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              latitude:
                type: string
                description: The latitude value associated with the suggestion.
              longitude:
                type: string
                description: The longitude value associated with the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: >-
            The fallback text that is displayed on devices. The fallback text to
            be sent if the RCS message cannot be delivered. This field supports
            variable substitution using {#var#} format.
      required:
        - type
        - phone_no
        - bot_name
        - text
    rcs_notification_media_imagemp4_msg:
      type: object
      title: Notification - Media Image or Video MP4
      description: >-
        Messages that include images to enhance visual communication and short
        videos, or animated content in MP4 format.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"media\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        url:
          type: string
          description: "The URL of the media (image or video MP4) to be included in the message. This field is optional for \"media\" type messages.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              latitude:
                type: string
                description: The latitude value associated with the suggestion.
              longitude:
                type: string
                description: The longitude value associated with the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: >-
            The fallback text that is displayed on devices. The fallback text to
            be sent if the RCS message cannot be delivered. This field supports
            variable substitution using {#var#} format. 
      required:
        - type
        - phone_no
        - bot_name
    rcs_notification_richcrdstdalone_msg:
      type: object
      title: Notification - Rich Card Standalone
      description: >-
        Messages that contain a standalone rich card with structured content,
        such as images, titles, descriptions, and buttons. These cards can
        provide interactive experiences and support various actions.
      properties:
        type:
          type: string
          description: The type of message to be sent. It can be "card".
        phone_no:
          type: string
          description: The recipient's phone number, including the country code.
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        url:
          type: string
          description: "The URL of the media (image or video MP4) to be included in the message. This field is optional for \"media\" type messages.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        card:
          type: object
          description: >-
            An object representing a standalone rich card. It includes a
            "title", "description", "url", and an array of "suggestions". This
            field is optional for "card" type messages.
          properties:
            title:
              type: string
              description: The label name for the card.
            description:
              type: string
              description: A short description of the card.
            url:
              type: string
              description: The (image/video mp4) url starting with https://
            suggestions:
              type: array
              description: >-
                An array of suggestions to be shown as quick replies or actions.
                Each suggestion can have a "text" field with plain text content.
                This field is optional.
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: The label name for the suggestion.
                  text:
                    type: string
                    description: The plain text content of the suggestion.
                  latitude:
                    type: string
                    description: The latitude value associated with the suggestion.
                  longitude:
                    type: string
                    description: The longitude value associated with the suggestion.
                  postback:
                    type: string
                    description: >-
                      The postback text or action associated with the
                      suggestion.
        fallback_text:
          type: string
          description: >-
            The fallback text that is displayed on devices. The fallback text to
            be sent if the RCS message cannot be delivered. This field supports
            variable substitution using {#var#} format.
      required:
        - type
        - phone_no
        - bot_name
    rcs_notification_richcrdcarousel_msg:
      type: object
      title: Notification - Rich Card Carousel
      description: >-
        Messages that include a carousel of multiple rich cards. Each card
        within the carousel can have its own unique content and actions.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"multiple_cards\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        cards:
          type: array
          description: >-
            An array of objects representing multiple rich cards. Each card
            object has a "title", "description", "url", and an array of
            "suggestions". This field is optional for "multiple_cards" type
            messages.
          items:
            type: object
            properties:
              card:
                type: object
                description: >-
                  An object representing a standalone rich card. It includes a
                  "title", "description", "url", and an array of "suggestions".
                  This field is optional for "card" type messages.
                properties:
                  title:
                    type: string
                    description: The label name for the card.
                  description:
                    type: string
                    description: A short description of the card.
                  url:
                    type: string
                    description: "The (image/video mp4) url starting with https://\r\n"
                  suggestions:
                    type: array
                    description: >-
                      An array of suggestions to be shown as quick replies or
                      actions. Each suggestion can have a "text" field with
                      plain text content. This field is optional.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The label name for the suggestion.
                        text:
                          type: string
                          description: The plain text content of the suggestion.
                        postback:
                          type: string
                          description: >-
                            The postback text or action associated with the
                            suggestion.
                        call_to:
                          type: string
                          description: The sender phone number.
                        url:
                          type: string
                          description: The (image/video mp4) url starting with https://
        fallback_text:
          type: string
          description: "The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format.\r\n"
      required:
        - type
        - phone_no
        - bot_name
    rcs_notification_urlsugg_msg:
      type: object
      title: Notification - URL Suggestion
      description: >-
        Messages that provide suggestions for relevant URLs or links that users
        can easily access or interact with.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"media\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        url:
          type: string
          description: "The URL of the media (image or video MP4) starting with https:// to be included in the message. This field is optional for \"media\" type messages.\r\n"
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              url:
                type: string
                description: The (image/video mp4) url starting with https:// .
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: "The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. \r\n"
      required:
        - type
        - phone_no
        - bot_name
    rcs_notification_textsugg_msg:
      type: object
      title: Notification - Text Suggestion
      description: >-
        Messages that offer a set of suggested response options for users to
        choose from, making it easier for them to respond to a message.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"text\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        text:
          type: string
          description: "The plain text content of the message. This field is required for \"text\" type messages.\r\n"
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: >-
            The fallback text that is displayed on devices. The fallback text to
            be sent if the RCS message cannot be delivered. This field supports
            variable substitution using {#var#} format. 
      required:
        - type
        - phone_no
        - bot_name
        - text
    rcs_notification_dialsugg_msg:
      type: object
      title: Notification - Dial Suggestion
      description: >-
        Messages that provide suggested phone numbers or prompts for users to
        initiate a phone call directly from the messaging app.
      properties:
        type:
          type: string
          description: The type of message to be sent. It can be "media".
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        url:
          type: string
          description: "The URL of the media (image or video MP4) to be included in the message. This field is optional for \"media\" type messages.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              call_to:
                type: string
                description: The sender phone number.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: >-
            The fallback text that is displayed on devices. The fallback text to
            be sent if the RCS message cannot be delivered. This field supports
            variable substitution using {#var#} format.
      required:
        - type
        - phone_no
        - bot_name
    rcs_notification_locationsugg_msg:
      type: object
      title: Notification - Location Suggestion
      description: >-
        Messages that suggest specific locations or addresses, allow users to
        share or navigate to a particular place.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"text\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        text:
          type: string
          description: "The plain text content of the message. This field is required for \"text\" type messages.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              latitude:
                type: string
                description: The latitude value associated with the suggestion.
              longitude:
                type: string
                description: The longitude value associated with the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: "The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.\r\n"
      required:
        - type
        - phone_no
        - bot_name
        - text
    rcs_session_text_msg:
      type: object
      title: Session - Text
      description: >-
        Standard text messages that send plain text content as part of a
        campaign.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"text\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        text:
          type: string
          description: "The plain text content of the message. This field is required for \"text\" type messages.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              latitude:
                type: string
                description: The latitude value associated with the suggestion.
              longitude:
                type: string
                description: The longitude value associated with the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: "The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.\r\n"
      required:
        - type
        - phone_no
        - bot_name
        - text
    rcs_session_mediaimagemp4_msg:
      type: object
      title: Session - Media Image or Video MP4
      description: >-
        Messages that support sending images to enhance visual communication and
        short videos or animated content in MP4 format as part of a campaign.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"media\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        url:
          type: string
          description: "The URL of the media (image or video MP4) to be included in the message. This field is optional for \"media\" type messages.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        suggestions:
          type: array
          description: >-
            An array of suggestions to be shown as quick replies or actions.
            Each suggestion can have a "text" field with plain text content.
            This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              latitude:
                type: string
                description: The latitude value associated with the suggestion.
              longitude:
                type: string
                description: The longitude value associated with the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: "The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.\r\n"
      required:
        - type
        - phone_no
        - bot_name
    rcs_session_richcrdstdalone_msg:
      type: object
      title: Session - Rich Card Standalone
      description: >-
        Messages that contain a standalone rich card with structured content,
        such as images, titles, descriptions, and buttons. These cards can
        provide interactive experiences and support various actions within a
        campaign.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"card\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        url:
          type: string
          description: "The URL of the media (image or video MP4) to be included in the message. This field is optional for \"media\" type messages.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        card:
          type: object
          description: >-
            An object representing a standalone rich card. It includes a
            "title", "description", "url", and an array of "suggestions". This
            field is optional for "card" type messages.
          properties:
            title:
              type: string
              description: The label name for the card.
            description:
              type: string
              description: A short description of the card.
            url:
              type: string
              description: The (image/video mp4) url starting with https:// .
            suggestions:
              type: array
              description: >-
                An array of suggestions to be shown as quick replies or actions.
                Each suggestion can have a "text" field with plain text content.
                This field is optional.
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: The label name for the suggestion.
                  text:
                    type: string
                    description: The plain text content of the suggestion.
                  latitude:
                    type: string
                    description: The latitude value associated with the suggestion.
                  longitude:
                    type: string
                    description: The longitude value associated with the suggestion.
                  postback:
                    type: string
                    description: >-
                      The postback text or action associated with the
                      suggestion.
        fallback_text:
          type: string
          description: "The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.\r\n"
      required:
        - type
        - phone_no
        - bot_name
    rcs_session_richcrdcarousel_msg:
      type: object
      title: Session - Rich Card Carousel
      description: >-
        Messages that include a carousel of multiple rich cards. Each card
        within the carousel can have its own unique content and actions,
        allowing for a dynamic and engaging campaign experience.
      properties:
        type:
          type: string
          description: "The type of message to be sent. It can be \"multiple_cards\".\r\n"
        phone_no:
          type: string
          description: "The recipient's phone number, including the country code.\r\n"
        bot_name:
          type: string
          description: "The name of the bot sending the message.\r\n"
        extra:
          type: string
          description: "An extra value that can be included in the message. This field is optional.\r\n"
        cards:
          type: array
          description: >-
            An array of objects representing multiple rich cards. Each card
            object has a "title", "description", "url", and an array of
            "suggestions". This field is optional for "multiple_cards" type
            messages.
          items:
            type: object
            properties:
              card:
                type: object
                description: >-
                  An object representing a standalone rich card. It includes a
                  "title", "description", "url", and an array of "suggestions".
                  This field is optional for "card" type messages.
                properties:
                  title:
                    type: string
                    description: The label name for the card.
                  description:
                    type: string
                    description: A short description of the card.
                  url:
                    type: string
                    description: The (image/video mp4) url starting with https:// .
                  suggestions:
                    type: array
                    description: >-
                      An array of suggestions to be shown as quick replies or
                      actions. Each suggestion can have a "text" field with
                      plain text content. This field is optional.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The label name for the suggestion.
                        text:
                          type: string
                          description: The plain text content of the suggestion.
                        postback:
                          type: string
                          description: >-
                            The postback text or action associated with the
                            suggestion.
                        call_to:
                          type: string
[...]
